mixin city()
  .city
    .container
      .city__content
        .city__text
          h2.title.title--h2 Найт-Сити изменит тебя навсегда!
          p <span class="blue-text">Cyberpunk 2077</span> — приключенческая ролевая игра, действие которой происходит в мегаполисе Найт-Сити, где власть, роскошь и модификации тела ценятся выше всего. Ты играешь за V, наёмника в поисках устройства, позволяющего обрести бессмертие. Ты сможешь менять киберимпланты, навыки и стиль игры своего персонажа, исследуя открытый мир, где твои поступки влияют на ход сюжета и всё, что тебя окружает.
        .city__images
          .city__double-img
            .city__item
              +img("content", "night-city-1", "png", width="", height="", "night-city-1")
            .city__item
              +img("content", "night-city-2", "png", width="", height="", "night-city-2")
          .city__item
            +img("content", "night-city-3", "png", width="", height="", "night-city-3")
