mixin intro()
  .intro
    //- вставлять блоки во внешний контейнер неверно
    //- все блоки содержат в себе container без доп класса tutorial__wrapper
    //- +img("content", "hero-1", "png", width="", height="", "slide 1")
    .carousel-container
      .carousel
        .slide
          +img("content", "hero-1", "png", width="", height="", "slide 1")
        .slide
          +img("content", "hero-2", "png", width="", height="", "slide 2")
        .slide
          +img("content", "hero-3", "png", width="", height="", "slide 3")
        .slide
          +img("content", "hero-1", "png", width="", height="", "slide 1")
    .container
      .intro__access
        p Доступно на всех платформах
        button.intro__button.btn--black(type="button", aria-label="know more", aria-pressed="false") Узнать больше


