.btn {
  display: inline-flex;
  padding: 10px 20px;

  color: $color-default-white;

  background-color: $color-neon-blue;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }

  &--black {
    background-color: $color-default-black;
    color: $color-yellow;
    font-size: 24px;
    line-height: 40px;
    padding: 20px 50px;
    transition: opacity $trans-default;
    cursor: pointer;

    @include hover-focus {
      opacity: 0.8;
    }
  }
}
