.intro {
  min-height: 1000px;
  width: 100%;
  height: 1000px;
  position: relative;

  .container {
    min-height: 1000px;
    display: flex;
    flex-direction: column-reverse;
    align-items: end;
    position: relative;
    z-index: 1000;
    // position: absolute;
    bottom: 0;
  }

  top: 0px;
  z-index: 100;

  &__access {
    background-color: $color-yellow;
    padding: 70px;
    font-size: 62px;
    line-height: 63.3px;
    width: 624px;
    position: relative;
    overflow: hidden;

    background-color: #fdd835;
    padding: 20px;
    color: #000;
    text-align: center;
    font-size: 1.5em;

    position: relative;
    background-color: #fdd835;
    padding: 20px;
    color: #000;
    text-align: center;
    font-size: 1.5em;
    overflow: hidden;

    p {
      margin: 0;
      margin-bottom: 16px;
    }
  }

  img {
    // position: absolute;
  }

  &__access {
    background-color: #fdd835;
    padding: 20px;
    color: #000;
    text-align: left;
    font-size: 1.5em;
    clip-path: polygon(50px 0, 100% 0, 100% calc(100% - 50px), calc(100% - 50px) 100%, 0 100%, 0 50px);
    background-color: $color-yellow;
    padding: 70px;
    font-size: 62px;
    line-height: 63.3px;
  }
}

.carousel-container {
  overflow: hidden;
  width: 100vw;
  height: 100%;
}

.carousel {
  display: flex;
  width: 300%;
  transition: transform 0.5s ease;
}

.slide {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: white;
  font-weight: bold;
}

@media (max-width: 1023px) {
  .slide--1 {
    // content: url('../img/content/hero-1@tablet');
  }
}


.carousel-container {
  overflow: hidden;
  width: 100vw;
  // height: 100vh;
}

.carousel {
  display: flex;
  width: 400%;
  height: 100%;
  /* Ширина для 4 слайдов */
  transition: transform 0.5s ease;
}

.slide {
  width: 100vw;
  // height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: white;
  font-weight: bold;
}

@media (max-width: 1023px) {
  .intro__access {
    width: 100%;
  }
}
