.main-nav {
  &__list {
    display: flex;
    margin: 0;
    margin-right: 20px;
    margin-left: 60px;
    padding: 0;

    list-style: none;
  }

  &__item {
    margin-right: 20px;
  }

  &__link {
    color: $color-default-white;
    display: block;
    transition: opacity $trans-default;
    cursor: pointer;

    @include hover-focus {
      opacity: 0.8;
    }

    &.is-active {
      opacity: 0.6;
    }
  }

  &__toggle {
    display: none;
  }

  &__social {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
}
