mixin footer(footerMods)
  footer.footer(class=footerMods)
    .container
      .footer__top
        span.footer__logo
          img(src="img/content/cyberpunk-logo.png" alt="cyberpunk logo")
        span.footer__logo
          img(src="img/content/cd_project_logo.png" alt="cd project logo")
        .footer__links
          a(href="#") Лицензия
          a(href="#") Политика конфиденциальности
    .container
      .footer__copyright
        p CD PROJEKT®, Cyberpunk®, Cyberpunk 2077®
