mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "index.html",
        text: "Главная"
      },
      {
        href: "#",
        text: "Страница 2"
      },
      {
        href: "#",
        text: "Страница 3"
      },
    ]

  header.header(class=headerMods)
    .container
      if(currentUrl === "index.html")
        //- lighthouse снимает 10 баллов SEO за <a> без href
        span.header__logo
          img(src="img/content/cyberpunk-logo.png" alt="cyberpunk logo")
      else
        a.header__logo(href="index.html", aria-label="Переход на главную") Логотип
      nav.main-nav
        button.main-nav__toggle.btn-reset(type="button", aria-label="Переключатель отображения меню", aria-pressed="false")
          +icon("icon-burger", 20, 20)
        .main-nav__wrapper
          //- ul.main-nav__list
          //-   each link in headerLinks
          //-     - const activeState = currentUrl === link.href
          //-     li.main-nav__item
          //-       if(activeState)
          //-         span.main-nav__link.is-active= link.text
          //-       else
          //-         a.main-nav__link(href=link.href)= link.text

          ul.main-nav__social
            li.main-nav__item
              a.main-nav__link(href="#")
                +icon("youtube-logo", 30, 30)
            li.main-nav__item
              a.main-nav__link(href="#")
                +icon("vk-logo", 30, 30)
            li.main-nav__item
              a.main-nav__link(href="#")
                +icon("facebook-logo", 30, 30)
            li.main-nav__item
              a.main-nav__link(href="#")
                +icon("twitter-logo", 30, 30)
            li.main-nav__item
              a.main-nav__link(href="#")
                +icon("twitch-logo", 30, 30)
            li.main-nav__item
              a.main-nav__link(href="#")
                +icon("instagram-logo", 30, 30)
